{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_breadcrumb %}
    {{ parent() }}

    {% if context.extensions['back-url'].getBackUrl() !== '' %}
        <div class="ntfx-back-url container">
            <a href="{{ context.extensions['back-url'].getBackUrl() }}">{{ 'storefront.seidl.back-url'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}