{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_breadcrumb %}
    {{ parent() }}
    {% if context.extensions['back-url'].getBackUrl() != '' %}
        <div class="ntfx-back-url container">
            {% if config('NtfxBackFromProductPage.config.ntfxUseJavascriptButton') %}
                <a href="javascript: history.go(-1)">{{ 'storefront.ntfx.back-url'|trans }}</a>
            {% else %}
                <a href="{{ context.extensions['back-url'].getBackUrl() }}">{{ 'storefront.ntfx.back-url'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}